<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcMlTMroFSVenjx-gB6YFaM4lVuQufvww</string>
	<key>GCM_SENDER_ID</key>
	<string>368982002258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BookReviewApp</string>
	<key>PROJECT_ID</key>
	<string>bookreviewapp-e2e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>bookreviewapp-e2e7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368982002258:ios:c77760c91f3333d9736d8b</string>
</dict>
</plist>